{% load static %}
<head>
    <title>base</title>
    <link rel="stylesheet" href="{% static "css/base.css" %}" />
    <link rel="stylesheet" href="{% static "css/nav.css" %}" />
    <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
</head>
<body>
  <div class="top-navigation">
    <a href="/" class="logo">Project</a>
    <a href="/"><h4>Login</h4></a>
  </div>
  <div class="main-wrapper">
    <div class="sidebar-container">
      <h2> Event </h2>
      <button type="button" class="btn btn-primary">Add Event</button>
    </div>
    {% block main-wrapper %}{% endblock %}
    <h4> 這是主要的內容區域。 </h4>
  </div>
</body>
</html>
