{% load static %}
<html>
  <head>
    <title>base</title>
    <link rel="stylesheet" href="{% static "css/base/light.css" %}">
    <link rel="stylesheet" href="{% static "css/base/dark.css" %}" id="darkTheme" disabled>
    <link rel="stylesheet" href="{% static "css/nav.css" %}" /> 
    {% block extra-css %}{% endblock %}
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
  </head>
  <body>

    <div class="top-navigation">
      <div class="logo">Project</div>
      {% if user.is_authenticated %}
        <a class="btn btn-lg btn-primary" href="{% url 'Logout' %}" role="button">登出 &#187;</a>
      {% else %}
        <a href="/login"><h4>Login</h4></a>
        <a href="/register"><h4>Register</h4></a>
      {% endif %}
    </div>
    <div class="main-wrapper">
      <div class="sidebar-container">
        <h2><a href="/eventPage">活動列表</a></h2>
        <h2><a href="/createEvent">新增活動</a></h2>
        <h2><a href="/allowlistPage">白名單</a></h2>
      </div>
      {% block main-wrapper %}{% endblock %}
    </div>
    <!-- my sun dark mode button-->
    <div class="scene scene--card sundarkmodep">
      <div class="card", id="themeToggle">
        <div class="card__face card__face--front"><span class="fa fa-moon" aria-hidden="true"></div>
        <div class="card__face card__face--back"><span class="fa fa-sun" aria-hidden="true"></div>
      </div>
    </div>
    <script src="{% static 'js/themeToggle.js' %}"></script>
  </body>
</html>
