{% extends "base.html" %} {% block main-wrapper %}
<div class="main-content">
  <header><h1>新增活動</h1></header>
  <section id="new-event">
    <form action="/eventPage" method="get">
      <label for="event-name">活動名稱</label>
      <input type="text" id="event-name" placeholder="請輸入活動名稱" />
      <label for="email-text">Email 內容</label>
      <input
        type="text"
        id="email-text"
        placeholder="請輸入 Email 的發送內容"
      />
      <input type="submit" value="新增活動" />
    </form>
  </section>
</div>
{% endblock %}
