{% extends "base.html" %} 
{% load static %} 
{% block extra-css %} 
  <link rel="stylesheet" href="{% static "css/eventPage/light.css" %}"/> 
  <link rel="stylesheet" href="{% static "css/eventPage/dark.css" %}" id="darkTheme" disabled/> 
{% endblock %} 
{% block main-wrapper %}
{% if messages %}
  {% for message in messages %}
    {% if message.tags %}
      <script>alert("{{ message }}")</script>
    {% endif %}
  {% endfor %}
{% endif %}
<div class="main-content">
  <header><h1>活動列表</h1></header>
  <section id="new-event">
      <form action="/createEvent">
        <input type="submit" value="新增活動" />
      </form>
  </section>
  <section id="events-list">
    <table>
      <thead>
        <tr>
          <th>活動名稱</th>
          <th>活動時間</th>
          <th>主辦者</th>
          <th>錄取人數</th>
          <th>人數上限</th>
          <th>刪除活動</th>
        </tr>
      </thead>
      <tbody>
        {% for event, accept_count, total_count in events_and_counts %}
        <tr>
          <td id="event-name"><a href="/eventPage/{{event.eventName}}">{{ event.eventName }}</a></td>
          <td>{{ event.eventDateTime }}</td>
          <td>{{ event.createUser.username }}</td>
          <td>{{ accept_count }} / {{ total_count }}</td>
          <td>{{ event.max_limit }}</td>
          <td>
            {% if user == event.createUser %}
              <a class="delete-btn" href="/deleteEvent/{{ event.id }}">取消</a>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</div>
{% endblock %}
