{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
  </head>
  <body>
    <div class="container">
      <h2>Login</h2>
      {% for message in messages %}
        <div class="alert alert-danger {{ message.tags }}">{{ message }}</div>
      {% endfor %}
      <form action="." method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="username">使用者名稱</label>
          {{ Login_form.username }}
        </div>
        <div class="form-group">
          <label for="password">密碼</label>
          {{ Login_form.password }}
        </div>
        <br />
        <button type="submit">登入</button>
        <p>還沒有帳號嗎? <a href="/register">註冊</a></p>
      </form>
    </div>
  </body>
</html>
