{% extends "base.html" %} 
{% load static %} 
{% block extra-css %} 
  <link rel="stylesheet" href="{% static "css/eventPage/light.css" %}"/> 
  <link rel="stylesheet" href="{% static "css/eventPage/dark.css" %}" id="darkTheme" disabled/> 
  <link rel="stylesheet" href="{% static "css/participantPage.css" %}" id="darkTheme" disabled/> 
{% endblock %} 
{% block main-wrapper %}
<div class="main-content">
  <header><h1>{{eventName}} - 報名列表</h1></header>
  <section id="events-list">
    <div class="button-wrapper">
    </div>
    <form action="{% url 'participantPage' eventName %}">
      <div class="button-wrapper">
        <button type="submit" name="send_allowlist" value=True>自動錄取白名單</button>
        <a class="invite-link" href="{% url 'eventInvitePage' eventName %}">進入邀請頁面</a>
      </div>
    </form>
    <form>
      <table>
        <thead>
          <tr>
            <th>目前狀態</th>
            <th>姓名</th>
            <th>電子郵件</th>
            <th>動作</th>
          </tr>
        </thead>
        <tbody>
          {% for participant in participants %}
          <tr>
            <td>{{ participant.0 }}</td>
            <td>{{ participant.1 }}</td>
            <td>{{ participant.2 }}</td>
            <td>
              <select name="participants_status">
                <option value = 'none'>-</option>
                <option value = 'accept'>錄取</option>
                <option value = 'allowlist'>新增至白名單</option>
              </select>
            </td>
          </tr>
          {% endfor %}
        </tbody> 
      </table>
      <div class="button-wrapper">
        <button type="submit">確認</button>
      </div>
    </form>
  </section>
</div>
{% endblock %}
