{% load static %}
<html>
  <head>
    <title>GPU Server Status</title>
    <link rel="stylesheet" href="{% static "css/apply.css" %}" />
    <link rel="stylesheet" href="{% static "css/nav.css" %}" />
    <link rel="stylesheet" href="{% static "css/toast.css" %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
  </head>
  <body>
    <div class="top-navigation">
      <a href="/" class="logo">Lab 402 Server</a>
      <a href="./login.html"><h4>Login</h4></a>
      <a target="_blank" href="./Register.html"><h4>Register</h4></a>
      <a href="/apply_rule"><h4>Status</h4></a>
      <a href="https://sites.google.com/view/cad-csie-ntu/%E9%A6%96%E9%A0%81"><h4>Lab</h4></a>
    </div>
    <div class="article-actions-container">
    {% block article-actions-container %}{% endblock %}
    </div>
    <div class="main-wrapper">
    {% block main-wrapper %}{% endblock %}
    </div>
    <script src="{% static "js/apply.js" %}"></script>
    <script src="{% static "js/toast.js" %}"></script>
  </body>
</html>