{% load static %}
<html>
  <head>
    <title>Lab 402 Server</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static "css/index.css" %}" /> <link
    rel="stylesheet" href="{% static "css/nav.css" %}" />
    <script>
      displayDateTime = function () {
        var currentDateTime = new Date();
        var year = currentDateTime.getFullYear();
        var month =
          (currentDateTime.getMonth() + 1 < 10 ? "0" : "") +
          (currentDateTime.getMonth() + 1);
        var day =
          (currentDateTime.getDate() < 10 ? "0" : "") +
          currentDateTime.getDate();
        var hours =
          (currentDateTime.getHours() < 10 ? "0" : "") +
          currentDateTime.getHours();
        var minutes =
          (currentDateTime.getMinutes() < 10 ? "0" : "") +
          currentDateTime.getMinutes();
        var seconds =
          (currentDateTime.getSeconds() < 10 ? "0" : "") +
          currentDateTime.getSeconds();

        var currentDateTimeString =
          year +
          "/" +
          month +
          "/" +
          day +
          " " +
          hours +
          ":" +
          minutes +
          ":" +
          seconds;
        document.getElementById("dateTime").innerHTML = currentDateTimeString;
      };

      // update every second
      setInterval(displayDateTime, 1000);
    </script>
  </head>
  <body>
    <div class="top-navigation">
      <a href="/" class="logo">Lab 402 Server</a>
      <a href="./login.html"><h4>Login</h4></a>
      <a target="_blank" href="./Register.html"><h4>Register</h4></a>
      <a href="./apply_rule"><h4>Status</h4></a>
      <a href="https://sites.google.com/view/cad-csie-ntu/%E9%A6%96%E9%A0%81"
        ><h4>Lab</h4></a
      >
    </div>
    <p>目前時間：<span id="dateTime"></span></p>
    <p>This is a website for students in Lab 402 to apply for server.</p>
    <br />
    <p>If you do not have a account, please Register first!.</p>
    <br />
    <article id="news">
      <div id="news" class="col-md-6">
        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col" colspan="2">Latest News</th>
            </tr>
          </thead>
          <tbody>
            {% for news in newss %}
            <tr>
              <th scope="row">{{news.date}}</th>
              <td><a href="/news/{{news.slug}}">{{news.title}}</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </article>
  </body>
</html>
