{% load static %}
<html>
  <head>
    <title>News</title>
    <link rel="stylesheet" href="{% static "css/index.css" %}" /> <link
    rel="stylesheet" href="{% static "css/nav.css" %}" />
  </head>
  <body>
    <div class="top-navigation">
      <a href="/" class="logo">Lab 402 Server</a>
      <a href="./login.html"><h4>Login</h4></a>
      <a target="_blank" href="/register_page"><h4>Register</h4></a>
      <a href="./apply_rule"><h4>Status</h4></a>
      <a href="https://sites.google.com/view/cad-csie-ntu/%E9%A6%96%E9%A0%81"
        ><h4>Lab</h4></a
      >
    </div>
    <p>{{news.body}}</p>
  </body>
</html>
