html {
    background-color: #FFFAF0;
    color: #1b1b1b;
    line-height: 1.75;
  }
h2 {
    padding: 10px;
}
a {
    color: #cdcdcd;
    padding: 0.25rem;
    text-decoration: none;
}
a:hover {
    color: aqua;    
}
.main-content a {
    color: #cdcdcd;
    padding: 0.25rem;
    text-decoration: underline;
}
body {
    height: 90%;
    margin: 0;
}
table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-size: 1rem;
    letter-spacing: 1px;
    background-color: #343434;
}
p {
    margin: 1rem 0 2rem;
}
caption {
    padding: 10px;
    font-weight: bold;
}
th,
td {
    border: 1px solid rgb(160 160 160);
    padding: 0.5rem 0.75rem;
    text-align: center;
}

.button-wrap {
    padding: 0.25rem 0.5rem;
}

ul {
    padding: 0px;
}

.sidebar-container {
    position: sticky;
    top: 0px;
    height: 100vh;
}

.sidebar-container li {
    list-style: none;
    margin-bottom: 0.5rem;
    width: 100%;
}
.article-actions-container {
    display: flex;
    background-color: #313131;
    height: 5%;
    align-items: center;
    padding: 0 5%;
}
.main-wrapper {
    display: grid;
    gap: 3rem;
    grid-template-columns: minmax(0, 1fr) minmax(0, 2.5fr) minmax(0, 15rem);
}

.main-content {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

/*---------------------------------
my sun dark mode button
flip card ref: https://3dtransforms.desandro.com/card-flip
----------------------------------*/
.scene {
    width: 30px;
    height: 30px;
    perspective: 600px;
    position: fixed;
    z-index: 99999;
    top: 50px;
    right: 5px;
}

.card {
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;
    border: 1px solid rgb(150, 150, 150, .5);
}

.card.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 16px;
    backface-visibility: hidden;
}

.card__face--front {
    color: black !important;
    background: white;
}

.card__face--front:hover {
    color: white !important;
    background-color: black;
}

.card__face--back {
    color: white !important;
    background: black;
    transform: rotateY(180deg);
}

.card__face--back:hover {
    color: black !important;
    background-color: white;
}

.darkmodecolor {
    background-color: #2B2B2B !important;
    color: #C5C5C5 !important;
    box-shadow: none;
}

