h1 {
    text-align: center;
    margin-bottom: 20px;
}

div.main-content {
  border-radius: 5px;
  background-color: #1b1b1b; 
  padding: 20px;
}

header, label {
  color: white;
}

input[type="submit"] {
  width: 100%;
  font-size: 16px;
  background-color: DeepSkyBlue;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: LightSkyBlue;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

thead {
  background-color: Wheat;
}

th, td {
    padding: 10px;
    border: 1px solid #1b1b1b;
    text-align: center;
}

td#event-name {
  text-align: left;
}

/*th {
    background-color: #f4f4f4;
}
*/

tbody tr:nth-child(odd) {
    background-color: Azure;
}

tbody tr:nth-child(even) {
    background-color: Beige;
}
